.widget-list-item-title
  flex 1
  min-width 0

.widget-editor-wrap
  min-height 400px

.widget-editor-hint
  margin-bottom 8px

.widget-editor-config-label
  margin-bottom 4px

.widget-editor-test-config
  width 100%
