.context-menu
  position: absolute
  width 170px
  background #333
  box-shadow 0px 0px 3px 3px rgba(90,90,90,0.35)
  // border 1px solid #222
  padding 10px 0
  z-index 410
.context-item
  position relative
  color #bbb
  &:hover
    background #000
    color #eee
  &.disabled
    color #777
    &:hover
      color #777
      background #333
      cursor not-allowed

.context-sub-text
  position absolute
  right 16px
  top 6px
  opacity .65