.custom-drawer
  position fixed
  top 0
  left 43px
  right 0
  bottom 0

.custom-drawer-mask
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  background rgba(0, 0, 0, 0.45)

.custom-drawer-content-wrapper
  position absolute
  top 0
  bottom 0
  background var(--main)
  box-shadow 2px 0 8px rgba(0, 0, 0, 0.15)
  overflow auto
  color var(--text)

.custom-drawer-left .custom-drawer-content-wrapper
  left 0

.custom-drawer-right .custom-drawer-content-wrapper
  right 0

.custom-drawer-content
  position relative
  height 100%
  width 100%
