.remote-float-control
  position fixed
  top 10px
  right 10px
  z-index 9999

.remote-float-control-inline
  display inline-block
  position relative

.remote-float-btn-inline
  display inline
  cursor pointer

.remote-float-btn
  padding 8px
  background rgba(0, 0, 0, 0.5)
  border-radius 4px
  color #fff
  cursor pointer
  opacity 0.8
  transition opacity 0.3s
  display flex
  align-items center
  justify-content center
  &:hover
  &.ant-dropdown-open
    opacity 1
