@require '../../css/includes/theme-default'
.term-search-opt-icon
  margin 0 3px
  color text-light
  font-size 15px
  &:hover
    color text
  &.term-search-on
    background #333
    color #aaa
.term-search-wrap
  position absolute
  top 100px
  right 5px
  z-index 200
