
.add-menu-wrap
  position fixed
  z-index 10000
  background var(--main)
  border 1px solid var(--main-darker)
  border-radius 6px
  min-width 160px
  max-width 300px
  overflow-y auto
  margin-top 4px
  padding 4px 15px