.no-sessions
  background var(--main)
  text-align center
  padding 50px 0
  position absolute
  top 36px
  left 0
  right 0
  bottom 0
  z-index 11
.no-session-history
  position absolute
  top 320px
  bottom 80px
  left 0
  right 0
  .sidebar-panel-history
    overflow-y auto
    .pd2x
      width 400px
      margin 0 auto