.tabs
  position relative
  height 56px
  overflow hidden
  background #000
.app-drag
  -webkit-app-region drag
  position absolute
  left 0
  top 0
  height 15px
  right 0
  z-index 1
.tabs-inner
  position relative
  z-index 2
  padding 0 5px
  margin-top 10px
  display inline-block
  height 63px
  overflow-x scroll
  overflow-y hidden
  margin-left 42px
  -webkit-app-region drag
.tabs-wrapper
  z-index 3
.tabs-inner .app-drag
  z-index 2
  height 47px
.tab
  -webkit-app-region no-drag
  display inline-block
  vertical-align middle
  cursor pointer
  position relative
  min-width 100px
  max-width 200px
  line-height 36px
  margin 5px 3px 5px 0
  border-radius 3px
  background #333
  text-align center
  color #aaa
  .tab-reload
  .tab-close
    display none
  &.active
    color #aaa
    background #000
  &:hover
    .tab-close
      display block
  &.dragover-tab::after
    position absolute
    content ''
    left -2px
    top 0
    width 1px
    border 1px dashed #777
    height 36px
  &.error
    .tab-reload
      display inline-block
      color #fff

.tab-close
  position absolute
  right 5px
  cursor pointer
  top 50%
  margin-top -6px
  &:hover
    color #08c

.tabs-add-btn
  display inline-block
  vertical-align middle
  margin 0 3px
  -webkit-app-region no-drag
  color #aaa
  &:hover
    color #ccc
.tabs-extra
  position absolute
  height 76px
  top 0
  right 0
  line-height 76px
  z-index 20
  -webkit-app-region no-drag
  background #000
  .ant-btn
    background #333
    color #aaa
    border-color: #333
    &:hover
      color #ccc
  .tabs-dd-icon
    color #aaa

.window-controls
  position absolute
  right 10px
  -webkit-app-region no-drag
  top 0
  z-index 200
  border-radius 0 0 3px 3px
  padding 0 0 0 4px
  background #333

.window-control-box
  display inline-block
  width 20px
  height 20px
  color #ccc
  -webkit-app-region no-drag
  &:hover
    color #08c
    cursor pointer
    .icon-maximize
      border-color #08c
.icon-maximize
  width 10px
  height 7px
  border 1px solid #ccc
  cursor pointer
  &.is-max
    height 6px
    position relative
    &:before
      position absolute
      content ''
      left -3px
      top 3px
      width 8px
      height 4px
      border 1px solid #ccc
      border-top none
      border-right none

.control-icon:hover
  color #fff
.tab-scroll-icon
  color #888
  &:hover
    color #aaa