.tabs
  position relative
  height 56px
  overflow hidden
.app-drag
  -webkit-app-region drag
  position absolute
  left 0
  top 0
  right 0
  height 10px
.tabs-inner
  position relative
  z-index 2
  padding 0 5px
  margin-top 10px
  display inline-block
  height 63px
  overflow-x scroll
  overflow-y hidden
  margin-left 42px
  -webkit-app-region drag
.tabs-wrapper
  -webkit-app-region no-drag
.tab
  display inline-block
  vertical-align middle
  cursor pointer
  position relative
  width 120px
  line-height 36px
  margin 5px 3px 5px 0
  border-radius 3px
  background #ddd
  text-align center
  color #555
  .tab-reload
  .tab-close
    display none
  &.active
    color #fff
    background #333
  &:hover
    .tab-close
      display block
  &.dragover-tab::after
    position absolute
    content ''
    left -2px
    top 0
    width 1px
    border 1px dashed #777
    height 36px
  &.error
    .tab-reload
      display inline-block
      color #fff

.tab-close
  position absolute
  right 5px
  cursor pointer
  top 50%
  margin-top -6px
  &:hover
    color #08c

.tabs-add-btn
  display inline-block
  margin 0 3px
.tabs-extra
  position absolute
  height 56px
  top 0
  right 0
  background #fff
  line-height 74px
  z-index 20
  -webkit-app-region no-drag
  box-shadow -3px 0px 3px 0px rgba(0,0,0,0.15)


.form-wrap
  border-left 1px solid #eee
  min-height 500px
.window-controls
  position absolute
  right 5px
  top 0
  z-index 200
  border-radius 0 0 3px 3px
  padding 0 5px
  background #333

.widnow-control-icon
  color #ccc
  &:hover
    color #08c
    border-color #08c
.icon-maximize
  width 8px
  height 4px
  border 1px solid #ccc
  &.is-max
    height 3px
    position relative
    &:after
      position absolute
      content ''
      left -3px
      top 0
      width 8px
      height 4px
      border 1px solid #ccc
      border-top none
      border-right none

.control-icon:hover
  color #fff
