
// from https://freefrontend.com/css-border-animations/
.morph-shape
 	background linear-gradient(45deg, #08c 0%, #09c 100%)
  border-radius 60% 40% 30% 70% / 60% 30% 70% 40%
  transition all 1s ease-in-out
  z-index 5
