.menus
  hr
    margin 0
    border-bottom 1px solid #555
  .sub-context-menu
    display none
    width 200px
    position absolute
    left 100%
    top 0
  .with-sub-menu
    &:hover
      .sub-context-menu
        display block