.context-menu
  hr
    margin 0
    border none
    border-bottom 1px solid #444
.sub-context-menu
  display none
  width 200px
  position absolute
  left 100%
  top 0
  background #333
  box-shadow 0px 0px 3px 3px rgba(90,90,90,0.35)
  max-height 300px
  overflow-y scroll
.with-sub-menu
  &:hover
    .sub-context-menu
      display block
.sub-context-menu-item
  cursor pointer
  padding 10px 16px
  overflow hidden
  white-space nowrap
  text-overflow ellipsis
  &:hover, &.active
    background #000
