@require '../../css/includes/theme-default'
.animate-fast
  animation-duration .2s
.sidebar-panel
  position absolute
  left 0
  top 0
  bottom 0
  z-index 200
  width 0
  overflow-y scroll
  background main-light
  color text
  .item-list-unit:hover
    .list-item-remove
      display none !important

.sidebar
  position absolute
  left 0
  top 0
  width 36px
  z-index 100
  bottom 0
  background main-dark
  box-shadow 0px 0px 3px 3px alpha(main, .1)
  .item-list
    padding-right 0
.type-bookmarks
  .bookmarks-panel
    width 100%
.type-history
  .history-panel
    width 100%
.control-icon-text
  color text
  &:hover
    color text-light
.control-icon-wrap
  padding 14px 0
  text-align center
  &.active
    .control-icon
      color text-light
  .control-icon
    color text-dark
    cursor pointer
    &:hover
      color text-light
.sidebar-list
  position absolute
  left 43px
  top 45px
  bottom 36px
  z-index 200
  width 0
  border-top 5px solid main

.pinned
  .sidebar-list
    bottom 0
  .drag-handle
    display block
  .sidebar-panel .pinned
    color success
//btns
.btns
  background main-dark
  border-color primary
  // .ant-select-arrow
  .open-about-icon
    color text-dark
    &:hover
      color text-light
  // .ant-btn
  // .ant-select-selection
  //   background transparent
  //   color #aaa
  //   border-color #555
.drag-handle
  position absolute
  right 0
  top 0
  width 3px
  bottom 0
  cursor ew-resize
  display none
  z-index 201
// Hover.css (http://ianlunn.github.io/Hover/)
// Version: 2.3.2
// Author: Ian Lunn @IanLunn
// Author URL: http://ianlunn.co.uk/
// Github: https://github.com/IanLunn/Hover
// Hover.css Copyright Ian Lunn 2017. Generated with Sass.

// Bob
@keyframes hvr-bob
  0%
    transform translateY(-8px)

  50%
    transform translateY(-4px)

  100%
    transform translateY(-8px)

@keyframes hvr-bob-float
  100%
    transform translateY(-8px)

.hvr-bob
  transform perspective(1px) translateZ(0)
  box-shadow 0 0 1px rgba(0, 0, 0, 0)
  animation-name hvr-bob-float, hvr-bob
  animation-duration .3s, 1.5s
  animation-delay 0s, .3s
  animation-timing-function ease-out, ease-in-out
  animation-iteration-count 1, infinite
  animation-fill-mode forwards
  animation-direction normal, alternate

.btns .upgrade-icon
  color success
.close-info-modal
  cursor pointer
  &:hover
    color text-light
.logo-filter
  filter invert(80%)
