@require '../../css/includes/theme-default'
.animate-fast
  animation-duration .2s
.sidebar-panel
  position absolute
  left 0
  top 0
  bottom 0
  z-index 200
  width 0
  overflow-y scroll
  background main
  color text
  .item-list-unit:hover
    .list-item-remove
      display none !important

.sidebar
  position absolute
  left 0
  top 0
  width 36px
  z-index 100
  bottom 0
  background main-dark
  box-shadow 0px 0px 3px 3px alpha(main, .1)
  .item-list
    padding-right 0
.sidebar-pin-top
  position absolute
  left 0
  right 0
  top 0
  height 112px
.sidebar-panel-bookmarks
.sidebar-panel-history
  position absolute
  left 0
  right 0
  top 112px
  bottom 0
  overflow-y scroll
.not-system-ui.is-mac
  .sidebar-bar
    margin-top 20px
.type-bookmarks
  .bookmarks-panel
    width 100%
.type-history
  .history-panel
    width 100%
.control-icon-text
  color text
  &:hover
    color text-light
.control-icon-wrap
  padding 14px 0
  text-align center
  &.active
    .control-icon
      color text-light
  .control-icon
    color text-dark
    cursor pointer
    &:hover
      color text-light
.sidebar-list
  position absolute
  left 43px
  top 0
  bottom 0
  z-index 200
  width 0
  border-right 1px solid darken(main, 30%)

.pinned
  .sidebar-list
    top 0
    .sidebar-panel
      top 0
      padding-top 36px
  .drag-handle
    display block
  .sidebar-panel
    .pinned
      color success
//btns
.btns
  background main-dark
  border-color primary
  .open-about-icon
    color text-dark
    &:hover
      color text-light

// Hover.css (http://ianlunn.github.io/Hover/)
// Version: 2.3.2
// Author: Ian Lunn @IanLunn
// Author URL: http://ianlunn.co.uk/
// Github: https://github.com/IanLunn/Hover
// Hover.css Copyright Ian Lunn 2017. Generated with Sass.

// Bob
@keyframes hvr-bob
  0%
    transform translateY(-8px)

  50%
    transform translateY(-4px)

  100%
    transform translateY(-8px)

@keyframes hvr-bob-float
  100%
    transform translateY(-8px)

.hvr-bob
  transform perspective(1px) translateZ(0)
  box-shadow 0 0 1px rgba(0, 0, 0, 0)
  animation-name hvr-bob-float, hvr-bob
  animation-duration .3s, 1.5s
  animation-delay 0s, .3s
  animation-timing-function ease-out, ease-in-out
  animation-iteration-count 1, infinite
  animation-fill-mode forwards
  animation-direction normal, alternate

.hvr-bob-fast
  transform perspective(2px) translateZ(0)
  animation-duration .15s, .3s
  animation-delay 0s, .15s

.btns .upgrade-icon
  color success
.close-info-modal
  cursor pointer
  &:hover
    color text-light
.logo-filter
  filter invert(80%)
.sidebar-inner
  padding-right 8px