.right-side-panel
  position absolute
  right 0
  top 36px
  bottom 0
  z-index 200
  background var(--main)
  color var(--text)
  border-left 1px solid var(--main-dark)
  &.right-side-panel-pinned
    top 0

  .drag-handle
    left 0
    right auto
    display block
.right-panel-title
  border-bottom 1px solid var(--main-dark)
.right-side-panel-controls
  color var(--text)
  font-size 16px
  &:hover
    color var(--success)
    cursor pointer
  &.right-side-panel-pin
    &.pinned
      color var(--success)
.right-side-panel-content
  padding 10px
  overflow-y scroll
  position absolute
  left 0
  top 55px
  right 0
  bottom 0
.animate-fast
  animation-duration .2s