@require '../../css/includes/theme-default'
.main-footer
  background main
  height 36px
  position absolute
  left 43px
  right 0
  bottom 0
  color text
.ssh-wrap-show
  margin-left 43px
.pinned .main-footer
  left 343px