@require '../../css/includes/theme-default'
.main-footer
  background main
  height 36px
  position absolute
  left 43px
  right 0
  bottom 0
  color text
  z-index 200
.ssh-wrap-show
  margin-left 43px
.pinned .main-footer
  left 343px


.terminal-footer-flex
  display flex
  .terminal-footer-unit .ant-select-selector .ant-select-selection-placeholder
    line-height 24px
.terminal-footer-unit
  margin-left 10px
  line-height 34px
  textarea.ant-input
    min-height 26px
    height 26px
    margin-bottom -2px
    &::-webkit-scrollbar
      width 0

.terminal-footer-center
  flex-grow 1
.terminal-footer-info
  margin-right 10px
  line-height 39px