{
  "presets": [
    "react",
    ["env", {
      "targets": {
        "chrome": 58,
        "node": "current"
      }
    }]
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-decorators-legacy",
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": false
      }
    ]
  ]
}
