/app/
/bin/
/build/
/src/
/test/
/appveyor.yml
/.babelrc
/config.default.js
/electron-builder.json
/.eslintignore
/.eslintrc
/.gitignore
/*.yml
/webpack.config.js
/work/
/package-bak.json
/temp/
/dist/
/.github/
*.log
/version
/*.env
/.env
/*.txt