.hover-blue
  &:hover
    color colorBlue

.hover-black
  &:hover
    color colorBlack

.hover-red
  &:hover
    color colorRed

.hover-red
  &:hover
    color colorRed

.color-blue
  color colorBlue

.color-red
  color colorRed

.bg-black
  background colorBlack

.color-white
  color #fff