
.bold
  font-weight bold

.em
  font-style italic

.alignleft
  text-align left

.alignright
  text-align right

.aligncenter
  text-align center

.indent
  text-indent 2em

.wordbreak
  word-break break-all

.elli
  overflow hidden
  white-space nowrap
  text-overflow ellipsis

.under-line
  text-decoration underline
  &.dashed
    text-decoration-style dashed
