.terminal
  .xterm-viewport
    &::-webkit-scrollbar
      width 1em
      background rgba(0,0,0,0)

    &::-webkit-scrollbar-track
      -webkit-box-shadow none

    &::-webkit-scrollbar-thumb
      background-color rgba(0,0,0,0)
      outline none
  &:hover
    .xterm-viewport
      &::-webkit-scrollbar
        background #000

      &::-webkit-scrollbar-track
        -webkit-box-shadow inset 0 0 6px rgba(0,0,0,0.6)

      &::-webkit-scrollbar-thumb
        background-color #555
        outline 1px solid #555