.rdp-session-wrap
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  .session-v-info
    position: absolute
    top: 0
    left: 0
    width: 100%
  &.scale-viewport
    canvas
      width: 100% !important
      object-fit: contain

