.loading-wrapper
  background #000
  .ant-spin
    color #fff
    background #000
  .ant-spin-blur
    opacity 0
.term-search-box
  position absolute
  right 5px
  top 5px
  z-index 30
.term-sftp-box
  .ant-tabs-bar
    margin-bottom 0
    .ant-tabs-tab
      color #999
    .ant-tabs-tab-active
      color #fff
  .ant-tabs-nav-wrap
    background #333
.terminal-control
  background #000
  line-height 32px
  padding 0 10px
  border-bottom 1px solid #333
.terms-box
  position relative
.term-wrap
  position absolute
.mg-fix-2
  margin-top -2px