
.term-search-opt-icon
  margin 0 3px
  color var(--text-light)
  font-size 15px
  &:hover
    color var(--text)
  &.term-search-on
    background var(--surface-2)
    color var(--text-dark)
.term-search-wrap
  position absolute
  top 100px
  right 5px
  z-index 200
  background var(--main)
