@require '../../css/includes/theme-default'
.terms-box
.term-wrap
  background main
  position relative
.loading-wrapper
  padding 30px
  z-index 100
  // .ant-spin
  //   color #fff
  //   background #000
  // .ant-spin-blur
  //   opacity 0
.term-search-box
  position absolute
  right 5px
  top 5px
  z-index 30
// .term-sftp-box
//   .ant-tabs-bar
//     margin-bottom 0
//     .ant-tabs-tab
//       color #999
//     .ant-tabs-tab-active
//       color #fff
//   .ant-tabs-nav-wrap
//     background #333
.terminal-control
  background main
  line-height 32px
  padding 0 10px
// .fileManager
//   .terminal-control
//     background main-dark
//   .type-tab
//     color text
//     &:hover
//     &.active
//       color text-dark
//     &.active
//       border-bottom 1px solid text-dark

.terms-box
  position relative
.term-wrap
  position absolute

.vertical
  .term-wrap.not-first-term
    border-top 1px solid mmain-light
.horizontal
  .term-wrap.not-first-term
    border-left 1px solid main-light
.term-sftp-tabs
  margin-left 5px

#container
  .xterm-viewport
    // background-color transparent !important
    // background-image url("./images/electerm-watermark.")
    background-repeat no-repeat
    background-position 50% 50%

.terminal-not-active .xterm-text-layer
  opacity .74
.terminal-footer
  position absolute
  left 0
  bottom 30px
  height 36px
  background main
  right 0
.terminal-footer-flex
  display flex
  .terminal-footer-unit .ant-select-selector .ant-select-selection-placeholder
    line-height 24px
.terminal-footer-unit
  margin-left 10px
  line-height 34px
.terminal-footer-center
  flex-grow 1
.terminal-footer-info
  margin-right 10px
  line-height 39px
.terminal-normal-buffer
  position absolute
  left 0
  top 0
  width 100%
  background main
  color text
  box-shadow 0px 3px 3px 0px alpha(text, .25)
  z-index 66
  padding-bottom 32px
.terminal-normal-buffer-body
  overflow-y scroll
  max-height 300px
.terminal-normal-buffer-close
  cursor pointer
  font-size 14px
  color text
  &:hover
    color text-light
.terminal-normal-buffer-footer
  position absolute
  left 0
  top calc(100% - 32px)
  width 100%
  height 32px
  line-height 32px
  box-shadow 0px -3px 3px 0px alpha(text, .25)
  background main-light
.batch-input-wrap
  width 163px
  transition width .5s
  &:hover
    width calc(100% - 80px)
