.loading-wrapper
  background #000
  .ant-spin
    color #fff
    background #000
  .ant-spin-blur
    opacity 0
  .xterm-viewport
    background: #000 url("/_bc/electerm-resource/res/imgs/electerm.png") 50% 50% no-repeat