@require '../../css/includes/theme-default'
.ai-chat-container
  height 100%
  display flex
  flex-direction column
  color text

.ai-chat-history
  overflow-y auto
  flex-grow 1

.ai-config-form
  height 200px
  overflow-y auto

.ai-chat-input
  position relative
  margin-top 10px

  .ant-input
    padding-bottom 40px

  .ai-chat-terminals
    position absolute
    bottom 5px
    left 5px
    right 5px
    background transparent
    z-index 1