.qm-list-wrap
  max-height calc(100vh - 100px)
  overflow-y scroll
  padding 20px 0 10px 0
.qm-wrap-tooltip
  background var(--main)
  position absolute
  left 43px
  right 0
  z-index 89
  height auto
  bottom 36px

.qm-pinned
  .qm-wrap-tooltip
    height 180px
  .qm-list-wrap
    max-height 100px

.fil-keyword
.fil-label
  .qm-item
    color var(--text-disabled)
  .qm-item
    &.name-match
    &.label-match
      font-weight bold
      color var(--text)

.qm-search-input
  max-width 200px
@media (max-width: 500px)
  .qm-search-input
    width 100px

.item-list-unit.dragover
  border: 1px dashed var(--primary)
.qm-label-select
  min-width 120px

.qm-flex
  gap 8px

@media (max-width: 768px)
  .qm-flex
    flex-direction column
    align-items flex-start
  .qm-search-input
    max-width none
    width 100%
  .qm-label-select
    width 100%