.terminal-control
  .ant-select
    width 200px
    position absolute
    left 0px
    top 5px
  .ant-select-selection
    border-color #000
    background-color #000
    height 26px
  .ant-select-selection__placeholder
  .ant-select-search__field__placeholder
    color #888