.form-wrap
  border-left 1px solid #eee
  min-height 500px
.menu-control
  width 28px
  height 28px
  border 1px solid #ccc
  border-radius 30px
  color #ccc
  font-size 16px
  text-align center
  line-height 28px
  cursor pointer
  -webkit-app-region no-drag
  &:hover
    color #08c
    border-color #08c
.btn-select
  width 200px
.btns
  -webkit-app-region drag
  > div > *
    -webkit-app-region no-drag
.hide-control
  .btns
    display none
.add-bookmark
  border-radius 20px
.widnow-control-icon
  color #ccc
  &:hover
    color #08c
    border-color #08c
.icon-maximize
  width 12px
  height 10px
  border 1px solid #ccc
  &.is-max
    height 8px
    position relative
    &:after
      position absolute
      content ''
      left -3px
      top 2px
      width 12px
      height 8px
      border 1px solid #ccc
      border-top none
      border-right none

.control-icon:hover
  color #08c
