.item-list-wrap
  max-height 500px
  overflow-y scroll
  &::-webkit-scrollbar
    width 0
.list-item-remove
  display none
  position absolute
  right 5px
  top 50%
  margin-top -6px

.item-list-unit
  position relative
  margin-bottom 1px
  cursor pointer
  line-height 1.8
  cu
  &.active
    background #08c
    color #fff
  &.current
    font-weight bold
  &:hover
    background #08c
    color #fff
    .list-item-apply
    .list-item-remove
      display block
