.tabs
  position relative
  height 46px
  overflow hidden
.tabs-inner
  position relative
  z-index 2
  padding 0 5px
  display inline-block
  height 63px
  overflow-x scroll
  overflow-y hidden
.tab
  display inline-block
  vertical-align middle
  cursor pointer
  position relative
  width 120px
  line-height 36px
  margin 5px 3px 5px 0
  border-radius 3px
  background #ddd
  text-align center
  color #555
  &.active
    color #fff
    background #333
  &:hover
    .tab-close
      display block
  &.dragover-tab::after
    position absolute
    content ''
    left -2px
    top 0
    width 1px
    border 1px dashed #777
    height 36px

.tab-close
  position absolute
  right 5px
  cursor pointer
  top 50%
  margin-top -6px
  display none
  &:hover
    color #08c

.tabs-add-btn
  display inline-block
  margin 0 3px
.tabs-extra
  position absolute
  height 46px
  top 0
  right 0
  box-shadow -3px 0px 3px 0px rgba(0,0,0,0.15)
  background #fff
  line-height 46px
  z-index 20