.mg24b
  margin-bottom 24px
.mg60b
  margin-bottom 60px
.compact-input input
  width 80px !important
.ssh-tunnels-host
  margin-bottom 0
.ip-item
   line-height 34px
  .item-item-use
    display none
.ip-item:hover
    .item-item-use
      display inline-block
