.color-picker-unit
  display inline-block
  padding 5px
  margin-right 5px
  margin-bottom 5px
  border 1px solid #ccc
  border-radius 5px
  cursor pointer
  background #fff
  width 92px
.color-picker-box
  width 420px
  .react-colorful
    height 200px
.color-picker-defaults
  width 200px
.color-picker-choose
  width 18px
  height 18px
  cursor pointer