
.terminal-info-icon
  color var(--text-dark)
  &:hover
    color var(--text)
.info-panel-wrap
  position fixed
  right 0
  top 100px
  bottom 0
  width 500px
  background var(--main)
  border 1px solid var(--main-darker)
  border-radius 5px 0 0 5px
  border-right none
  color var(--text)
  z-index 100
  overflow-y scroll

  .drag-handle
    left 0
    right auto
    display block
.terminal-info-section
  padding 10px 0
.terminal-info-act
.terminal-info-disk
.terminal-info-network
  max-height 260px
  overflow-y scroll
.activity-item
  max-height 1.6em
  line-height 1.6
  overflow hidden
  &:hover
    max-height none
.info-panel-wrap-pin
  .toggle-info-panel-wrap
    color var(--success)