.terminal-info-icon
  color var(--text-dark)
  &:hover
    color var(--text)
.terminal-info-section,
.right-side-panel-content > .remote-monitor-details
  padding 10px 0

.terminal-info-filter-wrap
  display flex
  justify-content flex-end
