.transports-wrap
  position absolute
  left 60px
  top 3px
  right 60px
  height 36px

.transports-circle-wrap
  text-align center
  position relative
  z-index 10
.transports-dd
  position absolute
  left 0
  right 0
  overflow-y scroll
  z-index 11
  background var(--main)

.transports-wrap
  .transports-dd
    display none
  &:hover .transports-dd
    display block

.transports-title
  border-bottom 1px solid var(--primary)
  padding 10px 15px
.transports-content
  max-height 200px
  padding 10px 0
.sftp-transport
  display flex
  padding 8px 5px
  &:hover
    font-weight bold
  .transfer-control-icon
    padding-right 5px
    padding-left 5px
    margin-top -2px
    &:hover
      color var(--primary-contrast)
      background var(--primary)
      border-radius 20px

.flex-child + .flex-child
  margin-left 5px
  flex-grow 1
.transfer-control-icon
  margin-right 3px
  margin-top 3px