@require '../../css/includes/theme-default'
.item-list-wrap
  overflow-y scroll
  &::-webkit-scrollbar
    width 3px
.list-item-edit
.list-item-apply
.list-item-remove
  display none
  width 24px
  line-height 35px
  text-align center
.list-item-title
  flex-grow: 1
.item-list-unit
  display flex
  position relative
  margin-bottom 1px
  cursor pointer
  line-height 1.8
  cu
  &.active
    background primary
    color text-light
  &.current
    font-weight bold
  &:hover
    background primary
    color text-light
    .list-item-apply
    .list-item-edit
    .list-item-remove
      display block
