.pd2b.bg-img-setting
  display inline-block
  padding 0
  margin 5px 5px 0 0
.font-sel
  min-width 200px
.setting-wrap .app-drag
  position fixed
  top 0
  left 43px
  height 60px
  right 0
  z-index 888