.tree-list
  .list-item-edit
  .list-item-del
    display none
  .ant-tree li
    > .ant-tree-node-content-wrapper
      width calc(100% - 24px)
      line-height 1.6
      height auto
    .ant-tree-child-tree
      span.ant-tree-switcher.ant-tree-switcher-noop
        display none
      li.ant-tree-treenode-switcher-open
      li.ant-tree-treenode-switcher-close
        & > .ant-tree-switcher.ant-tree-switcher-noop
          display inline-block
      .ant-tree-node-content-wrapper-open
      .ant-tree-node-content-wrapper-close
        width calc(100% - 48px)
        display inline-block
      .ant-tree-child-tree
        .ant-tree-node-content-wrapper
          display block
          padding-left 8px
          width 100%
          overflow hidden
          white-space nowrap
          text-overflow ellipsis


.tree-item
  position relative
  &.is-category
    .tree-item-title
      width calc(100% - 60px)
      margin-left 0
      font-weight bold
  &.level2
    .tree-item-title
      width calc(100% - 45px)
  &:hover
    .list-item-del
    .list-item-edit
      display inline-block
      margin-right 5px
      position static
      vertical-align middle
.tree-item-title
  width calc(100% - 28px)
  margin-left 8px
  display inline-block
  vertical-align middle


.with-plus
  &:after
    content '+'
    position absolute
    top 2px
    right 2px