.code-compare-wrap
  width 100%

.code-compare-body
  max-height 70vh
  overflow auto
  border 1px solid var(--main-darker)
  border-radius 4px

.code-compare-message
  padding 24px
  text-align center
  color var(--text-dark)
