.file-compare-table
  border-collapse collapse
  width 100%
  text-align left
  td
    border 1px solid var(--main-darker)
    padding 4px 8px

.file-compare-label
  width 120px

.file-compare-diff
  color var(--warn)
