@require '../../css/includes/constants'

.sftp-title
  margin 0 24px
  padding 5px
.sftp-go-parent-icon
  position absolute
  left 10px
  top 50%
  margin-top -6px
.sftp-title-wrap
  position relative
.sftp-item
  position relative
  padding 5px
  &:hover
    background #f2f2f2
    .transport-icon
      display block
.sftp-item-title
  width 100%
.sftp-item-title
    width 75%
.sftp-item-size
  width 24%
.transport-icon
  display none
  cursor pointer
  position absolute
  right 5px
  top 50%
  margin-top -6px
  z-index 12
.transport-circle
  position absolute
  top 33px
  left 50%
  margin-left -30px

.sftp-transport
  &:hover
    background #fafafa

.transports-content
  max-height 300px

.sftp-status-success
  color colorGreen
.sftp-status-exception
  color colorRed
.sftp-status-active
  color colorBlue