@require '../../css/includes/theme-default'
// .sftp-wrap
//   .ant-spin-container
//   .ant-spin-nested-loading
//     filter none
.sftp-section
  position absolute
.sftp-title-wrap
  position relative
.sftp-item
  position relative
  z-index 3
  padding 0
  line-height 26px
  height 32px
  user-select none
  margin-bottom 4px
  &:nth-child(even)
    .sftp-file-prop
      background main
  &:hover
    .sftp-file-prop
      background-color primary
      color text
  &.selected
    .sftp-file-prop
      background-color lighten(primary, -30%)
      color text-light
.sftp-history
  position absolute
  left 0
  top 100%
  right 0
  z-index 30
  box-shadow none
  border none
  height 0
  background main
  overflow hidden
  border-radius 3px
  &.focused
    height auto
    border 1px solid main-dark
    box-shadow 0px 0px 3px 3px alpha(main, .05)

.sftp-history-item
  padding 5px 10px
  cursor pointer
  border-bottom 1px solid primary
  &:hover
    background main-dark

.sftp-item-title
  width 100%
.sftp-item-title
    width 75%
.sftp-item-size
  width 24%
.sftp-status-success
  color success
.sftp-status-exception
  color error
.sftp-status-active
  color primary

.virtual-file
  .sftp-item
    position absolute
    left 0
    right 0
    bottom 0
    top 0
    z-index 1
    height 100%
    opacity 0
    padding 0
    margin 0

.file-icon
  position absolute
  left 10px
  top 10px
  font-size 50px
.file-props
  margin-left 70px

.opacity-loop
  opacity 0.3
  animation blinker 5s linear infinite

@keyframes blinker
  50%
    opacity .8

.sftp-sort-btn
  color text
  &.active
    font-weight bold
    color text-light

//list table
.sftp-file-prop
  height 32px
  line-height 30px
  position absolute
  left 0
  width 100px
  padding 0 5px
  background main
  overflow hidden
  white-space nowrap
  text-overflow ellipsis
  pointer-events none
  cursor default
  z-index 4
  color text
  &:last-child
    right 0 !important
    width auto !important
.file-bg
  position absolute
  left 0
  top 0
  right 0
  height 32px
  z-index 3

.sftp-header-item
  height 28px
  line-height 25px
  position absolute
  left 0
  width 100px
  border 1px solid main
  border-right none
  padding 0 5px
  background main
  overflow hidden
  white-space nowrap
  text-overflow ellipsis
  color text
  &:last-child
    border-right 1px solid main
    right 0 !important
    width auto !important
  &.desc
    background linear-gradient(to bottom, main-dark 0%,main-light 100%)
  &.asc
    background linear-gradient(to bottom, main-light 0%,main-dark 100%)
.sftp-header-handle
  z-index 20
  cursor ew-resize
  border none
  background none
.sftp-file-table-header
  height 30px
.sftp-table
  z-index 2
.sftp-table-content
  overflow-x hidden
  &::-webkit-scrollbar
    width 5px
    background alpha(main, .5)

  &::-webkit-scrollbar-track
    -webkit-box-shadow none

  &::-webkit-scrollbar-thumb
    background-color main
    outline none
.sftp-item
  &.sftp-dragover
    .sftp-file-prop
      background primary !important
      color text-light !important
  &.sftp-dragover-multi
    &:after
    &:before
      position absolute
      left 2px
      top 2px
      width 100%
      height 100%
      background main-light
      content ''
      z-index -1
    &:after
      left 4px
      top 4px
.icon-holder
  width 1em
  display inline-block
.symbolic-link-icon
  margin-right 2px

//sftp
.sftp-panel
  background main
  color text

.file-list
  &::-webkit-scrollbar
    width 1em
    background main

  &::-webkit-scrollbar-track
    -webkit-box-shadow inset 0 0 6px alpha(main, .1)

  &::-webkit-scrollbar-thumb
    background-color main
    outline 1px solid main
