@require '../../css/includes/constants'

.sftp-section
  position absolute
.sftp-title-wrap
  position relative
.sftp-item
  position relative
  z-index 3
  padding 0
  line-height 26px
  height 32px
  user-select none
  border 1px solid #fff
  margin-bottom 1px
  border-radius 3px
  &:nth-child(even)
    .sftp-file-prop
      background #f4f4f4
  &:hover
    .sftp-file-prop
      background #f2f2f2
  &.selected
    .sftp-file-prop
      background #333
      color #eee
.sftp-history
  position absolute
  left 0
  top 100%
  right 0
  z-index 30
  box-shadow none
  border none
  height 0
  background #fff
  overflow hidden
  border-radius 3px
  &.focused
    height auto
    border 1px solid #ddd
    box-shadow 0px 0px 3px 3px rgba(0,0,0,0.05)

.sftp-history-item
  padding 5px 10px
  cursor pointer
  border-bottom 1px solid #fefefe
  &:hover
    background #ddd

.sftp-item-title
  width 100%
.sftp-item-title
    width 75%
.sftp-item-size
  width 24%
.tranports-circle-wrap
  position absolute
  left 50%
  top 3px
  margin-left -20px
  line-height 36px
  height 36px

.sftp-transport
  &:hover
    background #fafafa

.transports-content
  max-height 300px

.sftp-status-success
  color colorGreen
.sftp-status-exception
  color colorRed
.sftp-status-active
  color colorBlue

.virtual-file
  .sftp-item
    position absolute
    left 0
    right 0
    bottom 0
    top 0
    z-index 1
    height 100%
    opacity 0
    padding 0
    margin 0

.file-icon
  position absolute
  left 10px
  top 10px
  font-size 50px
.file-props
  margin-left 70px

.opacity-loop
  opacity 0.3
  animation blinker 5s linear infinite

@keyframes blinker
  50%
    opacity .8

.sftp-dragover
  border 1px dashed #08c
  border-radius 3px
  color #000
.sftp-sort-btn
  color #aaa
  &.active
    font-weight bold
    color #555

//list table
.sftp-file-prop
  height 32px
  line-height 30px
  position absolute
  left 0
  width 100px
  padding 0 5px
  background #fff

.sftp-header-item
  height 28px
  line-height 25px
  position absolute
  left 0
  width 100px
  border 1px solid #ddd
  border-right none
  padding 0 5px
  background #fff
  &:last-child
    border-right 1px solid #ddd
  // &.is-sorting
  //   background #ddd
  &.desc
    background linear-gradient(to bottom, #dddddd 0%,#ffffff 100%)
  &.asc
    background linear-gradient(to bottom, #ffffff 0%,#dddddd 100%)
.sftp-header-handle
  z-index 20
  cursor ew-resize
  border none
  background none
.sftp-file-table-header
  height 30px
.sftp-table
  z-index 2
.sftp-table-content
  overflow-x hidden
  &::-webkit-scrollbar
    width 5px
    background #fff

  &::-webkit-scrollbar-track
    -webkit-box-shadow none

  &::-webkit-scrollbar-thumb
    background-color #fff
    outline none
.sftp-table:hover
    .sftp-table-content
      &::-webkit-scrollbar
        background #aaa

      &::-webkit-scrollbar-thumb
        background-color #777