@require '../../css/includes/theme-default'
.transports-wrap
  position absolute
  left 60px
  top 3px
  right 60px
  height 36px
  color text
.transports-circle-wrap
  text-align center
  position relative
  z-index 10
.transports-dd
  position absolute
  left 0
  right 0
  overflow-y scroll
  z-index 11
  background main
  box-shadow 0px 0px 3px 3px alpha(main, .5)
.transports-wrap
  .transports-dd
    display none
  &:hover .transports-dd
    display block

.transports-title
  border-bottom 1px solid primary
  padding 10px 15px
.transports-content
  max-height 200px
  padding 10px 0
.sftp-transport
  display flex
  &:hover
    background main-dark
.sftp-transport .transfer-control-icon:hover
  color primary
.transports-count
  color text
// .sftp-file
//   flex-grow 1
// .sftp-file-percent
//   width 100px
// .transfer-tag
//   width 200px
// .transfer-control-icon
//   width 20px
.flex-child + .flex-child
  margin-left 5px
  flex-grow 1