@require '../../css/includes/theme-default'
.transfer-tag
  color text
  border-radius 2px
  padding 0 2px
.transfer-status-init
  background primary
.transfer-status-started
  background success
.transfer-status-error
  background error