@require '../../css/includes/theme-default'
.transfer-tag
  color text
  border-radius 2px
  padding 0 2px
.transfer-status-init
  color primary
.transfer-status-started
  color success
.transfer-status-error
  color error