@require '../../css/includes/theme-default'
.system-menu
  width 200px
.context-menu
  hr
    margin 0
    border none
    border-bottom 1px solid main-light
.sub-context-menu
  display none
  width 200px
  position absolute
  left 100%
  top 0
  background main-light
  box-shadow 0px 0px 3px 3px alpha(main, .35)
  max-height 300px
  overflow-y scroll
.with-sub-menu
  &:hover
    .sub-context-menu
      display block
.sub-context-menu-item
  cursor pointer
  padding 10px 16px
  overflow hidden
  white-space nowrap
  text-overflow ellipsis
  &:hover, &.active
    background main-dark
.bookmarks-sub-context-menu
  width 380px
  padding 20px 10px 10px 20px