.term-fullscreen
  .sidebar
  .tabs
  .terminal-footer
  .terminal-control
    display none
  .term-fullscreen-control
    display block
    right 10px
    top 10px
    position fixed
    z-index 100
  .term-wrap
    position fixed
    left 0 !important
    top 0 !important
    height 100% !important
    width 100% !important
  .term-wrap-1
    left 10px !important
    top 10px !important
    right 10px !important
    bottom 10px !important
.term-fullscreen-control
  display none