
.upgrade-panel
  position fixed
  right 10px
  bottom 10px
  z-index 9999
  background #000
  box-shadow 0px 0px 3px 3px rgba(33,33,33,0.25)
  padding 0
  width 300px
.upgrade-panel-hide
  left -300px
  top 400px
  right auto
  bottom auto
.close-upgrade-panel
  position absolute
  right 5px
  top 5px
  &:hover
    color #08c
.upgrade-panel-title
.upgrade-panel-body
  padding 10px 15px
.upgrade-panel-title
  border-bottom 1px solid #333