
.error-wrapper
  background var(--main)
  height 100%
  position fixed
  overflow-y scroll

#container
  .xterm
    padding 10px
  .session-batch-active
    .xterm-screen
      &::before
        font-size 30vmin
        font-weight bold
        color var(--text)
        display flex
        justify-content center
        align-items center
        position absolute
        top 0
        left 0
        right 0
        bottom 0
        z-index -1