#container
  min-width 600px
.ui-wrapper
  .ant-tabs-bar
    margin-bottom 0
    .ant-tabs-tab
      color #999
    .ant-tabs-tab-active
      color #fff
  .ant-tabs-nav-wrap
    background #333

.common-err-desc
  &:hover
    text-overflow clip
    overflow-x hidden
    white-space pre
    max-height 300px
    overflow scroll