
doctype html
- var isDev = env !== 'production'
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='x-ua-compatible' content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title #{siteName}

    - if (isDev)
      link(rel='stylesheet/less', type='text/css', href='../less/less-dev.less?' + version)
    - else
      link(rel='stylesheet/less', type='text/css', href='./external/less-prod.less?' + version)
    link(rel='stylesheet', href='css/electerm.styles.css?' + version)
    link(rel='stylesheet', href='css/basic.styles.css?' + version)

  body
    #container
    #content-loading
    script.
      window.et = !{JSON.stringify(_global)}
    script.
      less = {
        env: 'production',
        javascriptEnabled: true
      }
    script(src='../node_modules/lodash/lodash.min.js')
    - if (isDev)
      script(src='../node_modules/react/umd/react.development.js?' + version)
      script(src='../node_modules/react-dom/umd/react-dom.development.js?' + version)
      script(src='../node_modules/less/dist/less.js?' + version)
    - else
      script(src='./external/react.production.min.js?' + version)
      script(src='./external/react-dom.production.min.js?' + version)
      script(src='./external/less.min.js?' + version)
    script.
      window.et.onload = function() {
        document.body.removeChild(document.getElementById('content-loading'));
      };
      window.getGlobal = function(str) {
        try {
          return require('electron').remote.getGlobal('et')[str]
        } catch(e) {
          console.log(e.stack)
          return false
        }
      }
      window._require = function(modName) {
        try {
          return require(modName)
        } catch(e) {
          console.log(e.stack)
          return false
        }
      }
      window.lang = window.getGlobal('lang')

      /**
      * string translate
      * @param {string} id eg: 'menu.cut'
      */
      window.e = id => {
        return window.lang.id || id
      }

      function capitalizeFirstLetter (string) {
        return string.charAt(0).toUpperCase() + string.slice(1)
      }

      window._config = window.getGlobal('_config')
      window.prefix = prefix => {
        if (window._config.language === 'en_us') {
          return (id) => {
            return capitalizeFirstLetter(window.lang[prefix][id] || id)
          }
        }
        return (id) => {
          return window.lang[prefix][id] || id
        }
      }
    script(src='js/electerm.' + version + '.js', onload='window.et.onload()')
