
include includes/head1
title #{siteName}
link(rel='stylesheet', href='css/electerm.styles.css?' + version)
link(rel='stylesheet', href='css/basic.styles.css?' + version)
include includes/head2
#container
#content-loading

include includes/footer-js
script(src='js/electerm.' + version + '.js', onload='window.et.onload()')
include includes/footer-end