.spice-session-wrap.scale-viewport
  canvas
    width: 100% !important
    object-fit: contain
  .spice-scroll-wrapper
    display block
.spice-scroll-wrapper
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center