
// .ant-switch-handle::before
//   background #232340
// .ant-spin-container
// .ant-spin-nested-loading
//   filter none
.ant-spin-blur
  opacity .9
.ant-tree-indent-unit
  width 5px
.ant-tree .ant-tree-switcher.ant-tree-switcher-noop
  width 18px