@require './includes'
@require './antd-overwrite'
@require './includes/theme-default'

html
  background rgba(0,0,0,.01)

body
  color main
  overflow hidden
  background alpha(main, .3)
  font-size 12px
::-webkit-scrollbar
  background alpha(main, .5)
  width 7px

.term-wrap:hover
  ::-webkit-scrollbar
    width 12px

::-webkit-scrollbar-track
  -webkit-box-shadow none

::-webkit-scrollbar-thumb
  background-color primary
  outline none

.common-err
  max-height 100px
  overflow-y scroll
  overflow-x hidden
  word-break break-all
