@require './includes'
body
  color #333
  overflow hidden
  font-size 12px
#content-loading
  position fixed
  left 0
  top 0
  height 100%
  width 100%
  bottom 0
  right 0
  background: #000 url("/_bc/electerm-resource/res/imgs/electerm.png") 50% 50% no-repeat
