@require './includes'
body
  color #444
  overflow hidden
  background #000
  font-size 12px
.error-wrapper
#content-loading
  position fixed
  left 0
  top 0
  height 100%
  width 100%
  bottom 0
  right 0
  background: #171717 url(../../../node_modules/@electerm/electerm-resource/res/imgs/electerm.png) 50% 50% no-repeat
