/**
 * default theme file
 */

body
  //tabs
  .tabs
    background #555
  .tab
    background #333
    color #aaa
    &.active
      color #aaa
      background #000
    &:hover
      .tab-close
        display block
    &.dragover-tab::after
      border 1px dashed #777
  .tabs-add-btn
    color #aaa
    &:hover
      color #ccc
  .tabs-extra
    background #555
    .ant-btn
      background #333
      color #aaa
      border-color: #333
      &:hover
        color #ccc
    .tabs-dd-icon
      color #aaa
  .ant-select-dropdown-menu
  .ant-dropdown-menu
    background #555
  .ant-dropdown-menu-item
  .ant-select-dropdown-menu-item
    color #ccc
    &:hover
    &.ant-select-dropdown-menu-item-active
      background #222


  //btns
  .btns
    background #333
    border-color #444
    .ant-select-arrow
    .icon-do-edit
    .open-about-icon
      color #aaa
    .ant-btn
    .ant-select-selection
      background transparent
      color #aaa
      border-color #555

  //sftp
  .sftp-panel
    background #333
    color #bbb
    .ant-input-group-addon
    .ant-input
    .ant-input-group
      color #ccc
      border-color #555
      background #333

  .file-list
    &::-webkit-scrollbar
      width 1em
      background #333

    &::-webkit-scrollbar-track
      -webkit-box-shadow inset 0 0 6px rgba(0,0,0,0.6)

    &::-webkit-scrollbar-thumb
      background-color #222
      outline 1px solid #222

  .sftp-item
    background #444
    color #eee
    border-color #555
    &:hover
      background #222
    &.selected
      background #111
  .sftp-history
    background #333
    overflow hidden
    border-radius 3px
    &.focused
      height auto
      border 1px solid #555
      box-shadow 0px 0px 3px 3px rgba(0,0,0,0.05)

  .sftp-history-item
    border-bottom 1px solid #555
    &:hover
      background #222

  .sftp-dragover
    border 1px dashed #08c
    border-radius 3px
    color #eee
  .sftp-sort-btn
    color #aaa
    &.active
      font-weight bold
      color #555

  .tranports-circle-wrap
    color #eee
  .ant-spin-blur
    opacity inherit
    transform none
  .transports-count
    color #ccc
