/**
 * default theme file
 */
body

  //tabs
  .tabs
    background #555
  .tab
    background #333
    color #aaa
    &.active
      color #aaa
      background #000
    &:hover
      .tab-close
        display block
    &.dragover-tab::after
      border 1px dashed #777
  .tabs-add-btn
    color #aaa
    &:hover
      color #ccc
  .tabs-extra
    background #555
    .ant-btn
      background #333
      color #aaa
      border-color: #333
      &:hover
        color #ccc
    .tabs-dd-icon
      color #aaa
  .ant-select-dropdown-menu
  .ant-dropdown-menu
    background #555
  .ant-dropdown-menu-item
  .ant-select-dropdown-menu-item
    color #ccc
    &:hover
    &.ant-select-dropdown-menu-item-active
      background #222


  //btns
  .btns
    background #333
    border-color #444
    .ant-select-arrow
    .icon-do-edit
    .open-about-icon
      color #aaa
    .ant-btn
    .ant-select-selection
      background transparent
      color #aaa
      border-color #555





