.theme-editor-txt
  .editor-u-textarea
    display block !important
  .editor-u-picker
    display none !important
.theme-editor-color-picker
  .editor-u-textarea
    display none !important
  .editor-u-picker
    display block !important