# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: linux-deb-tar

on:
  push:
    branches: [ build, test, build-only ]

jobs:
  build:

    runs-on: ubuntu-24.04
    environment: build
    if: "!contains(github.event.head_commit.message, '[skip build]') && !contains(github.event.head_commit.message, '[skip ci]') && !contains(github.event.head_commit.message, '[skip linux]') && !contains(github.event.head_commit.message, '[skip linux1]')"

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js 22.x
      uses: actions/setup-node@v4
      with:
        node-version: 22.x
    # - name: xvfb
    #   uses: GabrielBB/xvfb-action@v1

    # before_script:
    # - run: export DISPLAY=:99.0
    # - run: sh -e /etc/init.d/xvfb start &
    # - run: sleep 3

    # before_install:
    - run: npm install -g yarn
    - run: npm i

    # script:
    - run: npm run b

    - name: build
      if: "!contains(github.event.head_commit.message, 'skip build')"
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        BUILD_NUMBER: ${{ secrets.BUILD_NUMBER }}

      run: node build/bin/build-linux-deb-tar

